{{!-- ordered product list --}}
<ol>

    {{!-- cleanser --}}
    {{#each products}}

        {{#if (category_1 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

    {{!-- toner --}}
    {{#each products}}

        {{#if (category_2 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

    {{!-- serum --}}
    {{#each products}}

        {{#if (category_3 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

    {{!-- spot treatment --}}
    {{#each products}}

        {{#if (category_4 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

    {{!-- moisturizer --}}
    {{#each products}}

        {{#if (category_5 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

    {{!-- retinol --}}
    {{#each products}}

        {{#if (category_6 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

    {{!-- face oil --}}
    {{#each products}}

        {{#if (category_7 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

    {{!-- sunscreen --}}
    {{#each products}}

        {{#if (category_8 category_id)}}

            <div class="list-item">

                <li id={{id}}>

                    <div class="list-details">
                        <h3>{{name}}</h3>
                        <h6>{{category.name}}</h6>
                        <p>{{category.time}}</p>
                    </div>

                </li>
                
                <button class="deleteBtn">Remove</button>

            </div>

        {{/if}}

    {{/each}}

</ol>